<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Uc8ulPnbGHCo6QX5pEGijM30_h_v1UsL6IOD9Ib7zrEMoX4h8A);">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <br>
    <p>There is <%=@cocktails.count%> cocktails and <%=@ingredients.count%> ingredients in the database</p>
    <h5><%= link_to "Make your own cocktail", new_cocktail_path, class: "btn btn-gradient"%></h5>
  </div>
</div>
<br>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cocktail.url%>)">
        <%= link_to cocktail.name, cocktail_path(cocktail.id)%>
      </div>
    <% end %>
    <br>
</div>
